/* ============================== Content Main Style ============================== */
.order {
  border-right: 2px solid var(--dark-color);
  padding-right: 3rem;
}
.order__table {
  width: 100%;
}
.order__table-header {
  border-bottom: 1px solid #85858570;
}
.order__table-header-item {
  font-size: 1.5rem;
  font-family: var(--font-bold);
}
.order__table-body-list {
  border-bottom: 1px solid #85858570;
}
.order__table-body-item {
  font-size: 1.4rem;
}
.order__table-body-btn {
  display: block;
  margin: 0.9rem 0;
  background-color: var(--dark-color);
  color: var(--white-color);
  text-align: center;
  font-size: 1.4rem;
  font-family: var(--font-bold);
  padding: 0.7rem 0;
  max-width: 7.5rem;
  border-radius: 0.3rem;
}
.order__table-body-btn:hover {
  color: var(--dark-color);
  background-color: var(--primary-color);
}
.order__btn {
  display: block;
  margin: 0.9rem 0;
  background-color: var(--dark-color);
  color: var(--white-color);
  text-align: center;
  font-size: 1.4rem;
  font-family: var(--font-bold);
  padding: 0.9rem 0;
  max-width: 7.5rem;
  border-radius: 0.3rem;
}
.order__btn:hover {
  color: var(--dark-color);
  background-color: var(--primary-color);
}
/* ============================== Content Main Style ============================== */
